<div class="welcome-page">
  <h1 class="welcome-text">
    Welcome to Mind Diary
  </h1>

  <div>
    <p class="welcome-paragraph">
      This is a zen environment, where you can express your thoughts and feelings as well as store and track your prescriptions. Be free, be happy!
    </p>
  </div>

</div>
