.top-bar {
  font-family: Quesha;
  font-size: 25px;
  margin: 0 0 30px 0;
  color: white;
  background-color: grey;
}

.top-bar a {
  font-family: Quesha;
  color: white
}

.top-bar ul {
  background-color: transparent;
  margin-right: 20px
}

.indexWelcome {
  padding: 0
}
